<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<p>Hola!</p><br>
	<p>Se te ha enviado este correo electrónico para darte aviso que tienes una notificacion nueva del expediente {{$expediente->expediente}}/{{$expediente->serie}} que has registrado, teniendo como fecha limite al {{$expediente->fechalim}} para atender a esta.</p>
	<br><br><br>
	<p>Sin nada más por el momento, Agradecemos tu atencion.</p>
	<p>Atte: El equipo del Tribunal de lo Contencioso Administrativo de Colima</p>
</body>
</html>